<% include ../partials/header.ejs %>
<% include ../partials/navbar-restaurant.ejs %>

<ul class="collection" id="admin-food">
    <li class="collection-header"><p>Gerichte</p></li>
    <li class="container">
        <div class="row tab-container">
            <% var currentCategory = null; %>
            <div class="col s12 tab-container--top">
                <ul class="tabs">
                    <%if (menu.length > 0) { %>
                        <% currentCategory = menu[0]; %>
                        <li class="tab">
                            <a class="active" href="#<%= currentCategory.pk %>">
                                <%= currentCategory.name %>
                            </a>
                        </li>

                        <%if (menu.length > 1) { %>
                            <% for(var i=1; i<menu.length; i++) { %>
                                <% currentCategory = menu[i]; %>
                                <li class="tab">
                                    <a href="#<%= currentCategory.pk %>">
                                        <%= currentCategory.name %>
                                    </a>
                                </li>
                            <% } %>
                        <% } %>
                    <% } %>
                </ul>
            </div>
            <%if (menu.length > 0) { %>
                <% for(var i=0; i<menu.length; i++) { %>
                    <% currentCategory = menu[i]; %>
                    <div id="<%= currentCategory.pk %>" class="col s12 tab-container--bottom">
                        <% include ../partials/admin-food-list.ejs %>
                    </div>
                <% } %>
            <% } %>
            <div class="create-item col s12">
                <a class="btn white black-text">Create</a>
            </div>
        </div>
    </li>
</ul>

<% include ../partials/footer.ejs %>
