<% include ../partials/header.ejs %>
<% include ../partials/navbar-restaurant.ejs %>

<div class="main">
    <ul class="collection table-list">
        <li class="collection-header"><p>Tischeübersicht</p></li>
        <% for (var sk in statuses) { var tables = statuses[sk]; %>
        <% for (var tk in tables) { var t = tables[tk]; %>
        <li class="collection-item" tableNo="<%= tk %>">
            Tisch <%= tk %>
            <% if (t && t.length > 0) {
                var priceSum = t.map(i => i.count * i["item"].price).reduce((acc, val) => acc + val).toFixed(2);
            } %>
            <span class="new badge" data-badge-caption="€"><%= priceSum %></span>
            <ul class="collection orders">
                <% t.forEach(function(i) { %>
                <li class="collection-item row">
                    <span class="col m8"><%= i.count %>x <%= i["item"].name %></span>
                    <div class="col m4">
                        <a class="waves-effect waves-light btn btn-table-confirm"
                           orderId="<%=i["order"].pk%>">Geliefert</a>
                        <a class="waves-effect waves-light btn btn-table-done"
                           orderId="<%=i["order"].pk%>">Erledigen</a>
                        <span class="new badge"
                              data-badge-caption="€"><%= (i.count * i["item"].price).toFixed(2) %></span>
                        <% if (i.status) { %>
                            <span class="new badge" data-badge-caption=""><%= i.status %></span>
                        <% } %>
                    </div>
                </li>
                <% }) %>
            </ul>
        </li>
        <% } %>
        <% } %>
    </ul>

    <script>

    </script>

    <!-- for each table, render a table-list-item which contains the number as well as a list of orders for the current occupants -->
<% include ../partials/footer.ejs %>
